<div class="container">
  <h2>Autocadastro</h2>
  <!-- Use a classe 'alert' do Bootstrap para estilizar o alerta de erro -->
  <div class="alert alert-danger" *ngIf="showCadastroError">
    Preencha todos os campos corretamente antes de prosseguir.
  </div>
  <form (ngSubmit)="cadastrar()" #cadastroForm="ngForm">
    <div class="form-group">
      <label for="cpf">CPF:</label>
      <input
        type="text"
        class="form-control"
        id="cpf"
        name="cpf"
        required
        [(ngModel)]="cpf"
      />
    </div>
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        name="nome"
        required
        [(ngModel)]="nome"
      />
    </div>
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
        [(ngModel)]="email"
      />
    </div>
    <div class="form-group">
      <label for="endereco">Endereço:</label>
      <input
        type="text"
        class="form-control"
        id="endereco"
        name="endereco"
        required
        [(ngModel)]="endereco"
      />
    </div>
    <div class="form-group">
      <label for="telefone">Telefone:</label>
      <input
        type="text"
        class="form-control"
        id="telefone"
        name="telefone"
        required
        [(ngModel)]="telefone"
      />
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <a routerLink="/login" class="btn btn-link">Voltar para o Login</a>
  </form>
</div>
